In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import precision_score

In [7]:
df = pd.read_csv('https://stepik.org/media/attachments/course/4852/songs.csv')

In [8]:
df

,song,year,artist,genre,lyrics,length,commas,exclamations,colons,hyphens
0,the-ownerz,2007,gangstarr,Hip-Hop,"""One-two..""\n""One-two, shots to the chin.. kno...",1300,24,5,0,11
1,dead-sound-of-misery,2006,blind-guardian,Metal,It's dark\nLet's do it now\nBring in the siren...,1566,0,0,0,0
2,modred-s-song,2006,blind-guardian,Metal,I've lost my battle before it starts\nmy first...,996,1,0,1,0
3,the-ninth-wave,2015,blind-guardian,Metal,As dark night embraces\nWe are the nation\nI w...,2868,5,0,0,0
4,skills,2014,gangstarr,Hip-Hop,"Skills, skills, skills\n""My Microphone""\n""It's...",3351,22,0,0,3
...,...,...,...,...,...,...,...,...,...,...
355,just-like-that,2006,abba,Pop,Until that day\nMy life had been a river\nFoll...,972,2,0,0,1
356,ring-ring,1995,abba,Pop,I was sitting by the phone\nI was waiting all ...,1283,33,0,0,3
357,reina-danzante,1981,abba,Pop,You can dance\nYou can jive\nHaving the time o...,810,1,0,0,0
358,code-of-the-streets,2006,gangstarr,Hip-Hop,Take this for example young brothers want rep\...,1996,34,0,0,5
359,one-of-us,2001,abba,Pop,"They passed me by, all of those great romances...",991,8,0,0,0

In [12]:
X = df.iloc[:, 5:]
X.head()

   length  commas  exclamations  colons  hyphens
0    1300      24             5       0       11
1    1566       0             0       0        0
2     996       1             0       1        0
3    2868       5             0       0        0
4    3351      22             0       0        3

In [10]:
Y = df['artist']
Y.head()

0         gangstarr
1    blind-guardian
2    blind-guardian
3    blind-guardian
4         gangstarr
Name: artist, dtype: object

In [14]:
# сплитим на тест и трейн
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [18]:
X_test.shape[0] / X_train.shape[0], y_test.shape[0] / y_train.shape[0]

(0.25, 0.25)

In [172]:
# создаем модель, обучаем и предсказываем на тесте
model = DecisionTreeClassifier()

In [169]:
model.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=20)

In [170]:
y_predict = model.predict(X_test)

In [171]:
precision = precision_score(y_predict, y_test, average='micro')
precision

0.75

In [166]:
# предсказание на трейне
y_predict_train = model.predict(X_train)

In [167]:
precision_score(y_predict_train, y_train, average='micro')

0.9965277777777778